html {
    background-color: #d3d3d3;
}

#gridContainer {
    border-style: solid;
    border-color: black;
    width: 416px;
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
    flex-wrap: wrap;
    width: 320px; */
}

.gridSquare {
    border-style: solid;
    border-color: black;
    height: 20px;
    width: 20px;
}
